<div class="show-truck" style="text-align:center;margin:0 auto; width: 60%;">
	<h5>Marca: <%= @truck.marca %> - Modelo: <%= @truck.modelo %> - Matricula: <%= @truck.matricula %></h5>
</div>
<div id="dvData" class="customreport">
	<table class="responsive-table">
		<thead>
			<tr>
				<th>NºPedido</th>
				<th>Cliente</th>
				<th>Mod/Mar</th>
				<th>Bast/Mat</th>
				<th>Origen</th>
				<th>Destino</th>
				<th>Observaciones</th>
			</tr>
		</thead>
		<tbody>
			<% total = 0 %>
			<% @deliveries.each do |delivery| %>
				<tr>
					<td><%= delivery.id %></td>
					<td><%= delivery.client.name %> -CIF: <%= delivery.client.nif %></td>
					<td><%= @vehicles.find(delivery.vehicle).brand %> -<%= @vehicles.find(delivery.vehicle).model %></td>
					<td><%= @vehicles.find(delivery.vehicle).bastidor_matricula %></td>
					<td><%= @places.find(delivery.origin).name %> - <%= @places.find(delivery.origin).address %> - <%= @places.find(delivery.origin).address_details %> - <%= @places.find(delivery.origin).city %> - <%= @places.find(delivery.origin).contact_person %></td>
					<td><%= @places.find(delivery.destination).name %> - <%= @places.find(delivery.destination).address %> - <%= @places.find(delivery.destination).address_details %> - <%= @places.find(delivery.destination).city %> - <%= @places.find(delivery.destination).contact_person %></td>
					<td><%= delivery.observations %></td>
				</tr>
				
			<% end %>
		</tbody>
	</table>
	<div class="totales">
		<p>Total: <%= total %>€</p>
	</div>
</div>
<button id="btnExport">Exportar a excel</button>
<script type="text/javascript">
	$(document).ready(function() {
    $("#btnExport").click(function(e) {
        //getting values of current time for generating the file name
        var dt = new Date();
        var day = dt.getDate();
        var month = dt.getMonth() + 1;
        var year = dt.getFullYear();
        var hour = dt.getHours();
        var mins = dt.getMinutes();
        var postfix = day + "." + month + "." + year + "_" + hour + "." + mins;
        //creating a temporary HTML link element (they support setting file names)
        var a = document.createElement('a');
        //getting data from our div that contains the HTML table
        var data_type = 'data:application/vnd.ms-excel';
        var table_div = document.getElementById('dvData');
        var table_html = table_div.outerHTML.replace(/ /g, '%20');
        a.href = data_type + ', ' + table_html;
        //setting the file name
        a.download = 'exported_table_' + postfix + '.xls';
        //triggering the function
        a.click();
        //just in case, prevent default behaviour
        e.preventDefault();
    });
});
</script>