<div class="pendientes" id="dvData">
	<table class="responsive-table">
		<thead>
			<tr>
				<th>Pedido</th>
				<th>Cliente</th>
				<th>Bast/Mat</th>
				<th>Marca/Modelo</th>
				<th>Origen</th>
				<th>Destino</th>
				<th><div class="row"><div class="input-field col s2">Precio</div><div class="input-field col s2">Precio Conductor</div><div class="input-field col s2">Asignar camion</div><div class="input-field col s2">Asignar conductor</div><div class="input-field col s2">Estado</div><div class="input-field col s2">Guardar</div></div></th>
			</tr>
		</thead>
		<tbody>
			<% @deliveries.each do |delivery| %>
				<tr>
					<td><%= delivery.id %></td>
					<td><%= delivery.client.name %></td>
					<td><%= @vehicles.find_by(id: delivery.vehicle).bastidor_matricula %></td>
					<td><%= @vehicles.find(delivery.vehicle).brand %> - <%= @vehicles.find(delivery.vehicle).model %></td>
					<td><%= @places.find(delivery.origin).name %> - <%= @places.find(delivery.origin).city %> - <%= @places.find(delivery.origin).postal_code %></td>
					<td><%= @places.find(delivery.destination).name %> - <%= @places.find(delivery.destination).city %> - <%= @places.find(delivery.destination).postal_code %></td>
					
						<td><form name="<%=delivery.id%>" action="/update/pendientes/<%=delivery.id%>" method="POST">
						<div class="row">
						<div class="input-field col s2">
						<input	class="browser-default" type="text" name="precio">
						</div>
						<div class="input-field col s2">
						<input	class="browser-default" type="text" name="precioConductor">
						</div>
						<div class="input-field col s2">
						<select class="browser-default" name="camion">
							<option value="1">0504FYH</option>
							<option value="2">7636DYV</option>
							<option value="3">7007BJP</option>
							<option value="4">6127DGD</option>
							<option value="5">4584FKH</option>
							<option value="6">4605CTW</option>
							<option value="7">BOXER</option>
						</select>
						</div>
						<div class="input-field col s2">	
						<select class="browser-default" name="conductor">
							<option value="1">Pepe</option>
							<option value="2">Jesus</option>
							<option value="3">David</option>
							<option value="4">Carlos</option>
							<option value="5">Teresa</option>
							<option value="6">Roberto</option>
							<option value="7">Otros</option>
						</select>
						</div>
						<div class="input-field col s2">
						<select class="browser-default" name="estado">
							<option value="PENDIENTE">PENDIENTE</option>
							<option value="CARGADO">CARGADO</option>
							<option value="ENTREGADO">ENTREGADO</option>
							<option value="CANCELADO">CANCELADO</option>
						</select>
						</div>
						<div class="input-field col s2">
						<input	type="submit" name="commit<%=delivery.id%>" value="Guardar">
						</div>
						</form>
						</div>
						</td>
					
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<button id="btnExport">Exportar a excel</button>
<script type="text/javascript">
	$(document).ready(function() {
    $("#btnExport").click(function(e) {
        //getting values of current time for generating the file name
        var dt = new Date();
        var day = dt.getDate();
        var month = dt.getMonth() + 1;
        var year = dt.getFullYear();
        var hour = dt.getHours();
        var mins = dt.getMinutes();
        var postfix = day + "." + month + "." + year + "_" + hour + "." + mins;
        //creating a temporary HTML link element (they support setting file names)
        var a = document.createElement('a');
        //getting data from our div that contains the HTML table
        var data_type = 'data:application/vnd.ms-excel';
        var table_div = document.getElementById('dvData');
        var table_html = table_div.outerHTML.replace(/ /g, '%20');
        a.href = data_type + ', ' + table_html;
        //setting the file name
        a.download = 'exported_table_' + postfix + '.xls';
        //triggering the function
        a.click();
        //just in case, prevent default behaviour
        e.preventDefault();
    });
});
</script>