<div class="customreport">
	<p>
	<% @cabecera.each do |t| %>
	<%= t %>
	<% end %>
	</p>
	<table class="responsive-table">
		<thead>
			<tr>
				<th>NºPedido</th>
				<th>Cliente</th>
				<th>Mod/Mar</th>
				<th>Bast/Mat</th>
				<th>Origen</th>
				<th>Destino</th>
				<th>Precio</th>
			</tr>
		</thead>
		<tbody>
			<% @deliveriesfinal.each do |delivery| %>
				<tr>
					<td><%= delivery.id %></td>
					<td><%= delivery.client.name %></td>
					<td><%= @vehicles.find(delivery.vehicle).brand %> -<%= @vehicles.find(delivery.vehicle).model %></td>
					<td><%= @vehicles.find(delivery.vehicle).bastidor_matricula %></td>
					<td><%= @places.find(delivery.origin).name %> - <%= @places.find(delivery.origin).address %> - <%= @places.find(delivery.origin).city %></td>
					<td><%= @places.find(delivery.destination).name %> - <%= @places.find(delivery.destination).address %> - <%= @places.find(delivery.destination).city %></td>
					<td><%= delivery.price %>€</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>