<% if user_signed_in? %>
	<% if current_user.role == "admin" %>
<div class="wrapper">
	<div class="notifications">
		<h4>Notificaciones</h4>
		<br>
		<% if @deliveries.count > 0 %>
			<p> Tienes <%= @deliveries.count %> solicitudes pendientes </p>
			<a href="/pendientes">Ver solicitudes</a>
		<% else %>
			<p>No hay notificaciones</p>
		<% end %>
	</div>
	<div class="menu">
	<h5>Clientes</h5>
		<a class="waves-effect waves-light btn green" href="/clients"> Ver clientes </a>
		<a class="waves-effect waves-light btn green" href="/clients/new"> Nuevo cliente </a>
	<h5>Camiones</h5>
		<a class="waves-effect waves-light btn blue" href="/trucks"> Ver camiones </a>
		<a class="waves-effect waves-light btn blue" href="/trucks/new"> Nuevo camion </a>
		<a class="waves-effect waves-light btn blue" href="/ver_cargas"> Ver cargas </a>
	<h5>Conductores</h5>
		<a class="waves-effect waves-light btn purple" href="/drivers"> Ver conductores </a>
		<a class="waves-effect waves-light btn purple" href="/drivers/new"> Nuevo conductor </a>
	<h5>Transportes</h5>
		<a class="waves-effect waves-light btn red" href="/transportes">Solicitudes</a> 
	
	</div>
</div>
<div class="reports">
	<h5>Busqueda por fecha de creación</h5>
	<div class="row">
		<form action="/customreport" method="POST">
			<div class="input-field col s2">
				<p>Desde</p>
				<input name="date_from" type="date" class="datepicker">
			</div>
			<div class="input-field col s2">
				<p>hasta</p>
				<input name="date_to" type="date" class="datepicker">
			</div>
			<div class="input-field col s1">
    			<p>Estado</p>
    			<select name="delivery_state" class="browser-default">
			      <option value="TODOS">Cualquiera</option>
			      <option value="PENDIENTE">PENDIENTE</option>
			      <option value="CARGADO">CARGADO</option>
			      <option value="ENTREGADO">ENTREGADO</option>
			      <option value="CANCELADO">CANCELADO</option>
    			</select>
  			</div>
  			<div class="input-field col s2">
    			<p>Cliente</p>
    			<select name="client" class="browser-default">
			      <option value="TODOS">Cualquiera</option>
			      <% @clients.each do |client| %>
			      	<option value="<%=client.id%>"><%=client.name%></option>
			      <% end %>
    			</select>
  			</div>
  			<div class="input-field col s1">
    			<p>Camion</p>
    			<select name="camion" class="browser-default">
			      <option value="TODOS">Cualquiera</option>
			      <% @trucks.each do |truck| %>
			      	<option value="<%=truck.id%>"><%=truck.matricula%></option>
			      <% end %>
    			</select>
  			</div>
  			<div class="input-field col s1">
    			<p>Conductor</p>
    			<select name="conductor" class="browser-default">
			      <option value="TODOS">Cualquiera</option>
			      <% @drivers.each do |driver| %>
			      	<option value="<%=driver.id%>"><%=driver.name%></option>
			      <% end %>
    			</select>
  			</div>
  			<div class="input-field col s1">
    			<p>Estado pago</p>
    			<select name="pagoestado" class="browser-default">
			      <option value="TODOS">Cualquiera</option>
			       	<option value="PENDIENTE">PENDIENTE</option>
			       	<option value="PAGADO">PAGADO</option>
			      </select>
  			</div>
  			<div class="input-field col s1">
    			<p>Pago</p>
    			<select name="pago" class="browser-default">
			      <option value="TODOS">Cualquiera</option>
			       	<option value="Efectivo">Efectivo</option>
			       	<option value="Transferencia">Transferencia</option>
			       	<option value="Recibo">Recibo</option>
			      </select>
  			</div>
  			<div class="submitbutton">
				<input type="submit" value="Buscar">
			</div>
		</form>
	</div>
</div>

<div class="reports">
	<h5>Busqueda por fecha de entrega</h5>
	<div class="row">
		<form action="/deliveredreport" method="POST">
			<div class="input-field col s2">
				<p>Fecha de entrega desde</p>
				<input name="date_deliver" type="date" class="datepicker">
			</div>
			<div class="input-field col s2">
				<p>Fecha de entrega hasta</p>
				<input name="date_deliver_end" type="date" class="datepicker">
			</div>
  			<div class="input-field col s2">
    			<p>Cliente</p>
    			<select name="client" class="browser-default">
			      <option value="TODOS">Cualquiera</option>
			      <% @clients.each do |client| %>
			      	<option value="<%=client.id%>"><%=client.name%></option>
			      <% end %>
    			</select>
  			</div>
  			<div class="input-field col s2">
    			<p>Camion</p>
    			<select name="camion" class="browser-default">
			      <option value="TODOS">Cualquiera</option>
			      <% @trucks.each do |truck| %>
			      	<option value="<%=truck.id%>"><%=truck.matricula%></option>
			      <% end %>
    			</select>
  			</div>
  			<div class="input-field col s2">
    			<p>Conductor</p>
    			<select name="conductor" class="browser-default">
			      <option value="TODOS">Cualquiera</option>
			      <% @drivers.each do |driver| %>
			      	<option value="<%=driver.id%>"><%=driver.name%></option>
			      <% end %>
    			</select>
  			</div>
  			<div class="submitbutton">
				<input type="submit" value="Buscar">
			</div>
		</form>
	</div>
</div>
<% else %>
<div class="midcontent">
	<h2>Listado de solicitudes</h2>
</div>
<% end %>

<% else %> 
<div class="midcontent">
	<h2>Gruas Martin Delgado</h2>
	<h5>Plataforma Web para clientes</h5>
	<img src="/main.jpg">
	<p>Para acceder a la plataforma ingrese su usario y contraseña <a href="/users/sign_in">aquí.</a></p>
</div>
<% end %>